# Python virtual environment
venv/

# Python cache files
*.pyc
__pycache__/

# Database
db.sqlite3
*.sqlite3

# Logs
*.log

# Django static files collected
/staticfiles/

# Translation files
*.pot
*.mo
